@font-face {
    font-family: "skip";
    src: url('../res/fnt/FOT-Skip\ Std\ B.otf');
}

.stroke{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 hsl(0, 0%, 0%); 
}

.skipFont{
    font-family: "skip";
}